SQLAlchemy~=2.0.19
pandas~=2.0.3
scikit-learn~=1.3.0
nltk~=3.8.1
numpy~=1.25.2
spacy~=3.6.0
gensim~=4.3.1
imblearn~=0.0
scipy~=1.11.1
lightgbm
optuna~=3.3.0
plotly~=5.16.1
tqdm~=4.65.0
flask~=2.3.3
joblib~=1.3.1